<div class="courses-containers">
  <div class="courses-list">
    <mat-card class="course-card">
        <mat-card-header>
            <mat-card-title>Title</mat-card-title>
            
        </mat-card-header>
        
        <mat-card-content>
            List of courses go here
        </mat-card-content>           
    </mat-card>
  </div>
  <div class="course-details">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Title</mat-card-title>
            
        </mat-card-header>
        
        <mat-card-content>
            One course details go here
        </mat-card-content>
       <!-- <mat-card-actions align="start">
            <button mat-button (click)="onAction1">Action1</button>
            
        </mat-card-actions> -->
    </mat-card>
  </div> 

</div>
